@model BankSystem.Models.PrzelewyModel

@{
    ViewBag.Title = "Przelewy";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Przelewy", "Cards", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>Przelew</legend>
            @{
    List<SelectListItem> listItems = new List<SelectListItem>();

    foreach (var row in ViewBag.Cards)
    {
        listItems.Add(new SelectListItem
        {
            Text = row.Name,
            Value = row.Name
        });
    }
            }
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedCardName)
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.SelectedCardName, listItems, "wybierz rachunek")
                    @Html.ValidationMessageFor(m => m.SelectedCardName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nr_Card, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nr_Card, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nr_Card)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Miejscowosc, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Miejscowosc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Miejscowosc)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Ulica, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Ulica, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Ulica)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Kod, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Kod, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Kod)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Kwota, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Kwota, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Kwota)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tytul, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Tytul, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Tytul)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

